@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PIXymbols Very Loose W01 Reg";
  src: url("https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.eot");
  src: url("https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.svg#PIXymbols Very Loose W01 Reg")format("svg");
}

@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #000c40, #607d8b);
    --background: rgb(150, 196, 97); /* Removed the alpha value */
    --foreground: hsl(243, 10%, 0.52%);

    --muted: 243 10% 91.3%;
    --muted-foreground: 243 5% 41.3%;

    --popover: 243 10% 91.3%;
    --popover-foreground: 243 10% 0.65%;

    --card: 243 10% 91.3%;
    --card-foreground: 243 10% 0.65%;

    --border: 243 15% 89.52%;
    --input: 243 15% 89.52%;

    --primary: 243 100% 13%;
    --primary-foreground: 243 2% 91.3%;

    --secondary: 243 5% 95.65%;
    --secondary-foreground: 243 7% 11.3%;

    --accent: 243 5% 95.65%;
    --accent-foreground: 243 7% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 100% 13%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #2b5876, #4e4376);

    --background: rgb(29, 31, 72); /* Removed the alpha value */
    --foreground: hsl(217, 4.7%, 96.6%);

    --muted: 217 23.5% 9.6%;
    --muted-foreground: 217 4.7% 53.2%;

    --popover: 217 55.6% 4.16%;
    --popover-foreground: 217 4.7% 96.6%;

    --card: 217 55.6% 4.16%;
    --card-foreground: 217 4.7% 96.6%;

    --border: 217 23.5% 9.6%;
    --input: 217 23.5% 9.6%;

    --primary: 217 47% 32%;
    --primary-foreground: 217 4.7% 96.6%;

    --secondary: 217 23.5% 9.6%;
    --secondary-foreground: 217 4.7% 96.6%;

    --accent: 217 23.5% 9.6%;
    --accent-foreground: 217 4.7% 96.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 217 4.7% 96.6%;

    --ring: 217 47% 32%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #000c40, #607d8b);
    --background: rgb(150, 196, 97); /* Removed the alpha value */
    --foreground: hsl(243, 10%, 0.52%);
  }

  .dark {
    --background: rgb(0, 14, 80); /* Removed the alpha value */
    --foreground: hsl(217, 4.7%, 96.6%);
  }

  /* Apply custom background and foreground */
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

.bg-gradient {
  background: var(--gradient);
}

.pixel-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.pixel-card {
  height: 400px;
  width: 300px;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  aspect-ratio: 4 / 5;
  border: 1px solid #27272a;
  border-radius: 25px;
  isolation: isolate;
  transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
  user-select: none;
}

.pixel-card::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1;
  background: radial-gradient(circle, #09090b, transparent 85%);
  opacity: 0;
  transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
}

.pixel-card:hover::before,
.pixel-card:focus-within::before {
  opacity: 1;
}


.bg-navy-blue {
  background-color: rgb(0, 14, 80); /* Navy blue for dark mode */
}

.bg-light-green {
  background-color: rgb(150, 196, 97); /* Light green for light mode */
}

.bg-navy-blue-light{
  background-color: rgb(59, 78, 121);
}

.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.6rem, 8vw, 10rem);
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
}

.char {
  display: inline-block;
}

/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button1 {
  --border-right: 6px;
  --text-stroke-color: rgba(0, 0, 0, 0.6);
  --animation-color: #45ab49;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.dark .button1 {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #45ab49;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text1 {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button1:hover .hover-text1 {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}